@import './components/erreur404';
@import './components/formSignin';
@import './components/employeeList';
@import './components/pagination';
@import './components/modalSuccess';
@import './components//header';

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;  
    font-size: 100%;
} 

.App {
    min-height:100vh;
    background-color: #007bff;
}